doctype html
html
  head
    title User Details
  body
    h1 User Details
    p Name: #{user.name}
    p Email: #{user.email}
    p CreatedAt: #{user.updatedAt}
    each task in userTasks 
      p #{task.title}
      p #{task.description}

    form(action="/" + user.id + "/newTask" method="POST")
      div
        label(for="title") Name:
        input(type="text" name="title" required)
      div
        label(for="desc") description:
        input(type="text" name="desc" required)
      div
        button(type="submit") Add Task
    
    a(href="/") Back to Users

